.contenedor--cajas {
	max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 80px;
  @extend .contenido;
}

.caja {
  max-width: 430px;
  margin: 0 1% 4%;
  @include caja;
  &__imagen {
    img {
      width: 100%;
      vertical-align: top;
    }
  }
	&__contenido {
		padding: 25px;
    background-color: $color-claro;
    .caja__categoria {
      color: $color-secundario;
      @include titulos($Fuente2);
    }
    h3 {
      min-height: 60px;
      font-weight: normal;
      @include titulos($Fuente2);
    }
	}
	&__categoria {
		color: $color-secundario;
		@include titulos($Fuente2);
	}
}

.contenedor--cajas .caja a {
	text-decoration: none;
	color: $color-variacion;
  @include titulos($Fuente2);
}

.contenido {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 30px 0;
	justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.caja--con-fondo {
  display: flex;
  justify-content: center;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  background-color: $color-primario;
  .caja__imagen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
  }
  &__contenido {
    padding: 20px;
    position: absolute;
    text-align: center;
    color: $color-claro;
    p {
      display: none;
      color: $color-claro;
      @include media(desktop-s) {
        display: block;
      }
    }
    h3 {
      color: $color-claro;
    }
  }
  &__categoria {
    display: block;
    width: auto;
    max-width: 120px;
    margin: 0 auto 10px;
    padding: 10px 20px 25px;
    text-align: center;
    background-color: $color-secundario;
    color: $color-claro;
    @include titulos($Fuente2);
    @include media(desktop-s) {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
  }
  @include media(desktop-s) {
    display: block;
  }
}

.caja--grande {
  max-width: 1000px;
  height: 400px;
  h2 {
    @include titulos($Fuente2);
    @include font-size(30px);
    @include media(desktop-s) {
      @include font-size(50px);
    }
  }
  .caja--con-fondo__contenido {
    padding-top: 50px;
    @include media(desktop-s) {
      padding-top: 200px;
    }
  }
  @include media (desktop-s) {
    height: 550px;
    margin-right: 20px;
  }
}

.caja--mediana {
  max-width: 100%;
  height: 250px;
  @include media(desktop-s) {
    max-width: 600px;
  }
}

.caja--pequena {
  max-width: 100%;
  height: 250px;
  margin: 20px 0;
  @include media(desktop-s) {
    max-width: 350px;
    margin: 0;
  }
}