.perfil {
  width: auto;
  padding-top: 50px;
  margin-top: 90px;
  color: $color-secundario;
  background-color: $color-claro;
  @include media (desktop-s) {
    width: 45%;
    margin-top: 0;
  }
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    text-align: center;
    font-size: 20px;
    @include titulos($Fuente2);
  }
  &__titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: get-opacity($color-variacion, .50);
  }
  &__boton {
    display: block;
    width: 100px;
    margin: 15px auto;
    padding: 5px 0;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    background-color: $color-primario;
    border: 2px solid get-opacity($color-claro, .30);
    color: $color-claro;
    @include titulos($Fuente2);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}